{% extends "home/base.html" %}

{% block content %}

  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->
  <p class="col d-flex invisible" style="margin-bottom: 50px"> This Paragraph ensure the bottom of the conversation isn't hidden by the Footer.</p>
  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->

<section class="bg-title text-white">
        <div class="container text-center box">
            <p>
                <h3 class="mb-4">Mentions légales</h3>
            </p>
        </div>
</section>

<section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h4 class="section-heading">Droits d'auteur:</h4>
                    <hr class="my-4">
                    <p class="mb-5">
                        Template Bootstrap utilisé:
                        <a href="https://startbootstrap.com/template-overviews/creative/" title="Template Bootstrap" target="_blank">
                            Creative
                        </a>
                        <br>

                        Image de fond de la page d'accueil & Image de l’entête par
                        <a href="https://unsplash.com/photos/k60JspcBwKE" target="_blank">
                            Kawin Harasai
                        </a>
                        <br>

                        Icône "carotte" par
                        <a href="https://thenounproject.com/term/carrot/29691/" target="_blank">
                            Fabien Jouin
                        </a>
                        <br>

                        Icône "enregistrer" par
                        <a href="https://fontawesome.com/icons/save?style=regular" target="_blank">
                            Font Awesome
                        </a>
                        <br>

                        Icône "suprimer" par
                        <a href="https://fontawesome.com/icons/trash-alt?style=regular" target="_blank">
                            Font Awesome
                        </a>
                        <br>

                        Logo "Pur Beurre" par
                        <a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/elements-basiques/marque-et-logo" target="_blank">
                            Copyright &copy; Pur Beurre &reg;
                        </a>
                        <br>
                    </p>
                </div>

                <div class="col-lg-8 mx-auto text-center">
                    <h4 class="section-heading">Source de données:</h4>
                    <hr class="my-4">
                    <p class="mb-5">
                        La base de données libre et collaborative
                        <a href="https://fr.openfoodfacts.org/" target="_blank">
                            Open Food Facts
                        </a>
                        <br>
                    </p>
                </div>

                <div class="col-lg-8 mx-auto text-center">
                    <h4 class="section-heading">Hébergement:</h4>
                    <hr class="my-4">
                    <p class="mb-5">
                        Ce site est hébergé sur la plateforme
                        <a href="https://www.heroku.com/" target="_blank">
                            Heroku
                        </a>
                        <br>
                    </p>
                    <hr class="my-4">
                    <p class="mb-5">
                        Les Fichiers média sont hébergé par les services
                        <a href="https://aws.amazon.com/s3/" target="_blank">
                            S3 de AWS
                        </a>
                        <br>
                    </p>
                </div>

                <div class="col-lg-8 mx-auto text-center">
                    <h4 class="section-heading"><a href="{% url 'home' %}?#contact" class="text-decoration-none">Contact:</a></h4>
                    <hr class="my-4">
                    <h6>Pur Beurre &reg; </h6>
                    <p class="mb-5">
                        Téléphone: +33 (0) 1 PH 0N 3_ M3 <br>
                        Mail:
                        <a href="mailto:contact@pur-beurre.com" target="_blank">contact@pur-beurre.com</a>
                    </p>
                </div>
            </div>
        </div>
    </section>


  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->
  <p class="col d-flex invisible" style="margin-bottom: 50px"> This Paragraph ensure the bottom of the conversation isn't hidden by the Footer.</p>
  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->

{% endblock %}
