{% extends "home/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  <!-- Do not remove - Ensure dialogue not hidden by Header's Navbar -->
  <p class="col d-flex invisible" style="margin-bottom: 70px"> This Paragraph ensure the bottom of the conversation isn't hidden by the Footer.</p>
  <!-- Do not remove - Ensure dialogue not hidden by Header's Navbar -->
  {% if title == 'Recherche' %}

    <style type="text/css">
        .bgimg {
            background-image: url({% static 'home/img/bg-masthead.jpg' %});
            background-color: #000000;
            background-repeat: repeat;
            background-position: center;
            background-size: cover;
        }

        .well {
           background-color: rgba(245, 245, 245, 0.4);
        }
    </style>

    <div class="container-fluid bgimg w-100 h-10">
      <div class="well font-weight-bold text-center text-dark-70 m-4">
        <h1>Aliment recherché: {{ searched|title }}</h1>
      </div>
    </div>

  {% elif title == 'Favoris' %}
    <div class="d-flex justify-content-center">
      <h1>Mes Favoris</h1>
    </div>

  {% else %}
  {% endif %}
{% endblock %}

{% block content %}

    <!-- Pagination -->
    <div class="position-relative ml-4">
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="{{ url }}&page=1">Première</a>
        <a class="btn btn-outline-info mb-4" href="{{ url }}&page={{ page_obj.previous_page_number }}">Précédent</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="{{ url }}&page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="{{ url }}&page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="{{ url }}&page={{ page_obj.next_page_number }}">Suivant</a>
        <a class="btn btn-outline-info mb-4" href="{{ url }}&page={{ page_obj.paginator.num_pages }}">Dernier</a>
      {% endif %}

    {% endif %}
    </div>
    <!-- End Pagination -->


    {% if results %}
      <!-- Search Content -->
      <div class="row row-cols-3">

      {% for result in results %}

        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-4">
        {% if title == 'Favoris' %}

          <div class="card m-2 col " style="width: auto; height: 100;">
              {% if result.product.nutriscore == 'a' %}
                  <img class="card-img-top" src="{% static 'home/img/nutriscore-a.svg' %}" alt="Nutriscore A">
              {% elif result.product.nutriscore == 'b' %}
                  <img class="card-img-top" src="{% static 'home/img/nutriscore-b.svg' %}" alt="Nutriscore B">
              {% elif result.product.nutriscore == 'c' %}
                  <img class="card-img-top" src="{% static 'home/img/nutriscore-c.svg' %}" alt="Nutriscore C">
              {% elif result.product.nutriscore == 'd' %}
                  <img class="card-img-top" src="{% static 'home/img/nutriscore-d.svg' %}" alt="Nutriscore D">
              {% elif result.product.nutriscore == 'e' %}
                  <img class="card-img-top" src="{% static 'home/img/nutriscore-e.svg' %}" alt="Nutriscore E">
              {% else %}
                  <img class="card-img-top" src="{% static 'home/img/nutriscore-u.png' %}" alt="Nutriscore Non Connue">
              {% endif %}
            <img class="card-img-top img-responsive" src="{{ result.product.image.url }}" alt="Card image cap">
            <div class="card-body">
                  <h5 class="card-title">{{ result.product.name|title }}</h5>
                  <div class="d-flex">
                    <a href="{% url 'detail' pk=result.product.pk %}" class="btn btn-primary m-1 mr-3" target="_blank" title="Page Aliment {{ result.product.name }}" alt="Page Aliment {{ result.product.name }}">Page Aliment</a>
                    {% if user.is_authenticated %}
                      <a href="{% url 'fav-del' pk=result.product.pk %}" title="Ajouter à mes Aliments" alt="Ajouter à mes Aliments"><i style="font-size: 3em;" class="far fa-trash-alt"></i></a>
                    {% endif %}
                  </div>
            </div>
          </div>

        {% else %}

          <div class="card m-2 col" style="width: auto; height: auto;">
              {% if result.nutriscore == 'a' %}
                  <img class="card-img-top" src="{% static 'home/img/nutriscore-a.svg' %}" alt="Nutriscore A">
              {% elif result.nutriscore == 'b' %}
                  <img class="card-img-top" src="{% static 'home/img/nutriscore-b.svg' %}" alt="Nutriscore B">
              {% elif result.nutriscore == 'c' %}
                  <img class="card-img-top" src="{% static 'home/img/nutriscore-c.svg' %}" alt="Nutriscore C">
              {% elif result.nutriscore == 'd' %}
                  <img class="card-img-top" src="{% static 'home/img/nutriscore-d.svg' %}" alt="Nutriscore D">
              {% elif result.nutriscore == 'e' %}
                  <img class="card-img-top" src="{% static 'home/img/nutriscore-e.svg' %}" alt="Nutriscore E">
              {% else %}
                  <img class="card-img-top" src="{% static 'home/img/nutriscore-u.png' %}" alt="Nutriscore Non Connue">
              {% endif %}
            <img class="card-img-top img-responsive" src="{{ result.image.url }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ result.name|title }}</h5>
              <div class="card-footer d-flex">
                <a href="{% url 'detail' pk=result.pk %}" class="btn btn-primary m-1 mr-3" target="_blank" title="Page Aliment {{ result.name }}" alt="Page Aliment {{ result.name }}">Page Aliment</a>
                {% if user.is_authenticated %}
                  <a href="{% url 'fav-add' pk=result.pk %}" title="Ajouter à mes Aliments" alt="Ajouter à mes Aliments"><i style="font-size: 3em;" class="far fa-save"></i></a>
                {% endif %}
              </div>
            </div>
          </div>

        {% endif %}
        </div>
      {% endfor %}
      <!-- End Search Content -->
      </div>

    {% else %}
      <!-- If research not found in database, or invalid entry -->
        <style type="text/css">
          .bgcol {
              background-color: #345A61;
          }
        </style>

        <div class="">
          <div class="d-flex justify-content-center bgcol">
              <h1 class="text-white-50 m-4" >Votre produit n'a pas été trouvé. Veuillez rééssayer.</h1>
          </div>

          <div class="m-4">
              <div class="d-flex justify-content-center"><h2>Nouvelle Recherche</h2></div>
          <!-- Search a Product -->
              <div class="container-fluid d-flex justify-content-center p-2 mr-3" >
                  <form class="form-inline" action="/snacks/search/" method="GET">
                      <input type="text" name="search" class="form-control mb-2 mr-sm-2" placeholder="Produit à substituer" required="required" title="Produit à Substituer">
                      <input type="submit" class="btn btn-secondary mb-2" value="chercher" title="Chercher">
                  </form>
              </div>
          <!-- End Search bar -->
          </div>
        </div>
    {% endif %}
  </div>

    <!-- Pagination -->
    <div class="position-relative ml-4">
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="{{ url }}&page=1">Première</a>
        <a class="btn btn-outline-info mb-4" href="{{ url }}&page={{ page_obj.previous_page_number }}">Précédent</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="{{ url }}&page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="{{ url }}&page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="{{ url }}&page={{ page_obj.next_page_number }}">Suivant</a>
        <a class="btn btn-outline-info mb-4" href="{{ url }}&page={{ page_obj.paginator.num_pages }}">Dernier</a>
      {% endif %}

    {% endif %}
    </div>
    <!-- End Pagination -->

  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->
  <p class="col d-flex invisible" style="margin-bottom: 200px"> This Paragraph ensure the bottom of the conversation isn't hidden by the Footer.</p>
  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->

{% endblock content %}
