{% extends "home/base.html" %}


{% block content %}

  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->
  <p class="col d-flex invisible" style="margin-bottom: 200px"> This Paragraph ensure the bottom of the conversation isn't hidden by the Footer.</p>
  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} ">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

            <div>
                <h2>Vous êtes maintenant déconnecté.</h2>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        <a href="{% url 'login' %}">Se connecter à nouveau</a>
                    </small>
                </div>
            </div>

      </div>
    </div>
  </main>

{% endblock content %}
