{% extends "home/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->
  <p class="col d-flex invisible" style="margin-bottom: 200px"> This Paragraph ensure the bottom of the conversation isn't hidden by the Footer.</p>
  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} ">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Changer de mot de passe</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Demandez le renouvellement de votre mot de passe.</button>
                </div>
            </form>
        </div>

      </div>
    </div>
  </main>

{% endblock content %}
