{% extends "home/base.html" %}
{% block content %}

  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->
  <p class="col d-flex invisible" style="margin-bottom: 200px"> This Paragraph ensure the bottom of the conversation isn't hidden by the Footer.</p>
  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} ">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

            <div class="alert alert-info">
                Votre mot de passe a été envoyé.
            </div>
            <a href="{% url 'login' %}">Connectez vous ici</a>

      </div>
    </div>
  </main>

{% endblock content %}
