{% extends "home/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <style type="text/css">
        .bgimg {
            background-image: url({% static 'home/img/bg-masthead.jpg' %});
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .well {
           background-color: rgba(245, 245, 245, 0.4);
        }
    </style>

  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->
  <p class="col d-flex invisible" style="margin-bottom: 70px"> This Paragraph ensure the bottom of the conversation isn't hidden by the Footer.</p>
  <!-- Do no remove - Ensure dialogue not hidden by Header's Navbar -->

  <div class="container-fluid bgimg w-100 h-50 mb-4">
    <div class="d-flex flex-column h-20 justify-content-center text-center">
      <p class="h1 well font-weight-bold text-dark-70 m-4">A hoy</p>
      <p class="h2 well font-weight-bold text-dark-70 m-4">{{ user.first_name|title }}</p>
    </div>
  </div>

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} ">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

        <div class="content-section">
          <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
              <h2 class="account-heading">{{ user.username }}</h2>
              <p class="text-secondary">{{ user.email }}</p>
            </div>
          </div>
          <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Mettre à jour votre Profile</legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Mettre à jour</button>
                </div>
            </form>
            <small class="text-muted ml-2" >
                <a href="{% url 'password_reset' %}">Vous voulez changer de mot de passe?</a>
            </small>
        </div>

      </div>
    </div>
  </main>

{% endblock content %}
